---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="about">
    <h1>Sobre el projecto</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis
        fringilla justo. Sed gravida tellus a tortor cursus finibus. Nulla
        ultricies ornare lorem, nec euismod justo faucibus a. Nulla aliquam,
        lacus vel imperdiet volutpat, lacus risus fermentum est, nec iaculis
        diam massa vel nisl. Phasellus pretium pretium dapibus. Etiam lobortis
        nunc lectus, id pretium nisl mattis non. Vestibulum quis tortor non urna
        blandit ullamcorper. Aliquam eros diam, euismod non tempus sed,
        venenatis ac felis. Aenean sit amet consequat neque. Aenean euismod erat
        eu aliquam hendrerit. Praesent sollicitudin neque nec dui facilisis
        volutpat.
    </p>
</Layout>
